<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_front.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,2},{1016,351}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,4},{1016,351}}</string>
                <key>sourceSize</key>
                <string>{1016,355}</string>
            </dict>
            <key>blank.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{432,676},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>click_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,662},{48,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
            <key>help.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,450},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,514},{146,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,145}}</string>
                <key>sourceSize</key>
                <string>{146,145}</string>
            </dict>
            <key>rank_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,585},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>replay_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,355},{69,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,71}}</string>
                <key>sourceSize</key>
                <string>{69,71}</string>
            </dict>
            <key>run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,355},{75,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{75,93}}</string>
                <key>sourceSize</key>
                <string>{77,93}</string>
            </dict>
            <key>run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,502},{77,81}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{77,81}}</string>
                <key>sourceSize</key>
                <string>{77,93}</string>
            </dict>
            <key>run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{686,585},{73,79}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,9},{73,79}}</string>
                <key>sourceSize</key>
                <string>{77,93}</string>
            </dict>
            <key>score_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{611,355},{131,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,64}}</string>
                <key>sourceSize</key>
                <string>{131,64}</string>
            </dict>
            <key>settlement_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{343,426}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{343,426}}</string>
                <key>sourceSize</key>
                <string>{343,426}</string>
            </dict>
            <key>share_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{539,355},{157,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,70}}</string>
                <key>sourceSize</key>
                <string>{157,70}</string>
            </dict>
            <key>title.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,355},{317,107}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{317,107}}</string>
                <key>sourceSize</key>
                <string>{317,107}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stick.png</string>
            <key>size</key>
            <string>{1024,700}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dac7c2a5ccdc6128e09ae483c4d1c9c4:8970596d958622400f36530edee35947:921d9da9489872de1eeff65d006b879e$</string>
            <key>textureFileName</key>
            <string>stick.png</string>
        </dict>
    </dict>
</plist>
