<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rank/01.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,539},{70,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{70,24}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>rank/02.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,611},{70,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{70,24}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>rank/03.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,683},{70,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{70,24}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>rank/04.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,637},{70,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{70,24}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>rank/05.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,465},{72,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{72,24}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>rank/06.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,683},{70,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{70,24}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>rank/07.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,637},{70,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{70,24}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>rank/08.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,689},{70,24}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{70,24}}</string>
                <key>sourceSize</key>
                <string>{80,30}</string>
            </dict>
            <key>rank/bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{423,461}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{423,461}}</string>
                <key>sourceSize</key>
                <string>{423,461}</string>
            </dict>
            <key>rank/face_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,637},{76,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,74}}</string>
                <key>sourceSize</key>
                <string>{76,74}</string>
            </dict>
            <key>rank/first.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,637},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>rank/new.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,709},{57,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,22}}</string>
                <key>sourceSize</key>
                <string>{57,22}</string>
            </dict>
            <key>rank/other_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,465},{388,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,84}}</string>
                <key>sourceSize</key>
                <string>{388,84}</string>
            </dict>
            <key>rank/qzone_default_face.jpg</key>
            <dict>
                <key>frame</key>
                <string>{{332,637},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,50}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>rank/second.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,637},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
            <key>rank/self_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,551},{388,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,84}}</string>
                <key>sourceSize</key>
                <string>{388,84}</string>
            </dict>
            <key>rank/self_logo.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,683},{44,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,54}}</string>
                <key>sourceSize</key>
                <string>{44,54}</string>
            </dict>
            <key>rank/third.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,683},{52,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,44}}</string>
                <key>sourceSize</key>
                <string>{52,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>stick_rank_edd2f92.png</string>
            <key>size</key>
            <string>{427,733}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1996c5c849c3a53ca856a3102babf4a:8a57e2e6b603bf9a5cde144963ab4294:7d567711d86775a412862b10d7752d33$</string>
            <key>textureFileName</key>
            <string>stick_rank_edd2f92.png</string>
        </dict>
    </dict>
</plist>
